<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="openFolder.contribution"
            objectClass="java.lang.Object">
         <action
               class="openfolder.popup.actions.OpenFolderAction"
               enablesFor="1"
               icon="icons/srcFolder.gif"
               id="openFolder.openFolder"
               label="打开win目录"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="copyresource.contribution"
            objectClass="java.lang.Object">
         <action
               class="openfolder.popup.actions.CopyResourceAction"
               enablesFor="+"
               id="openFolder.openFolder"
               label="复制到剪贴板"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.jdt.internal.core.JarPackageFragmentRoot"
            class="com.hongsq.factory.FileAdapterFactory">
         <adapter
               type="java.io.File">
         </adapter>
      </factory>
   </extension>

</plugin>
