<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="openFolder.contribution"
            objectClass="org.eclipse.core.runtime.PlatformObject">
         <action
               class="openfolder.popup.actions.OpenFolderAction"
               enablesFor="1"
               icon="icons/srcFolder.gif"
               id="openFolder.openFolder"
               label="打开win目录"
               menubarPath="additions">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IResource">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.JarPackageFragmentRoot">
                  </objectClass>
               </or>
            </enablement>
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="copyresource.contribution"
            objectClass="org.eclipse.core.runtime.PlatformObject">
         <action
               class="openfolder.popup.actions.CopyResourceAction"
               enablesFor="+"
               id="openFolder.openFolder"
               label="复制到剪贴板"
               menubarPath="additions">
            <enablement>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IResource">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.jdt.internal.core.JarPackageFragmentRoot">
                  </objectClass>
               </or>
            </enablement>
         </action>
      </objectContribution>
   </extension>

</plugin>
